<?xml version="1.0" encoding="UTF-8"?>
<Config>
	<Viewer>
		<posX>50</posX>
		<posY>50</posY>
		<Width>1280</Width>
		<Height>720</Height>
		<FullScreen>0</FullScreen>
		<VSync>1</VSync>
		<HostAddress>127.0.0.1</HostAddress>
		<Port>1992</Port>
		<LocalMode>0</LocalMode>
		<FovY>55.0</FovY>
		<zNear>0.1</zNear>
		<zFar>10000.0</zFar>
		<ScreenNumber>1</ScreenNumber>
		<Name>viewer</Name>
		<WindowDecoration>1</WindowDecoration>
		<DoubleBuffer>1</DoubleBuffer>
		<Samples>16</Samples>
		<RequestInterval>200</RequestInterval>
		<ReconnectInterval>1000</ReconnectInterval>
		<MotionBlur>0.05</MotionBlur>
		<NotifyLevel>INFO</NotifyLevel>
		<ViewDistance>5000.0</ViewDistance>
	</Viewer>                
</Config>