[submodule "tcp-connection"]
	path = tcp-connection
	url = https://github.com/maisvendoo/tcp-connection.git
[submodule "asound"]
	path = asound
	url = https://github.com/maisvendoo/asound.git
[submodule "osgdb_dmd"]
	path = osgdb_dmd
	url = https://github.com/maisvendoo/osgdb_dmd.git
