QWidget {
    background-color: #404040;
    color: #ffffff;
}

QTableWidget {
    background-color: #606060;
    color: #ffffff;
}

QHeaderView::section:horizontal {
    background-color: #606060;
    color: #ffffff;
}

QHeaderView::section:vertical {
    background-color: #606060;
    color: #ffffff;
}

QPushButton {
	background-color: #00aa00;
}

QPushButton::pressed {
	background-color: #ffb140;
}

QPushButton::disabled {
	background-color: #606060;
}

QListWidget {
	background-color: #606060;	
}

QListWidget::item::selected {
	background-color: #ffb140;
}

QPlainTextEdit {
	background-color: #606060;
}

QTabBar::tab:selected {
    background: #ffb140;
}

QTabBar::tab:!selected {
    background: #606060;
}

QTabWidget::pane { 
	border: 0; 
}

QTableView::item::selected
{
    background-color: #ffb140;
}

QComboBox::item::selected
{
    background-color: #ffb140;
}